// Couleurs globales
$bg-color: white;
$cart-color: #F1F1F1;
$text-color: #292929;
$main-yellow: #FFC836;
$main-red: #BD0017;

$border: #6E6E6E;
$border-selected: #FFC836;
$border-notSelected: #D6D6D6;

// Typographie
$font-main: "Source Sans 3", sans-serif;
$font-size-base: 1.6rem;
$font-weight-regular: 400;
$font-weight-bold: 700;

